.rcorners {
    border-radius: 25px;
    border: 2px solid gray;
    padding: 20px;
}
.progress-bar-dimensions {
    width: 270px;
    height: 25px;
    float: right;
    position: relative;
    right: 20px
}
.transaction-category-name-progress-bar {
    float: left;
    position: relative;
    left: 20px
}
.transaction-category-amount-progress-bar {
    float: right;
    position: relative;
    left: 35px;
    top: 5px
}