main {
    margin-top: 30px;
}
#input-group-fromDate {
    margin-right: 10px;
}
/* Buttons History/ Add Income / Add outcome */
div > main > div > div > a {
    width: 150px;
}
.time-frame {
    padding: 10px;
}
#FromDateLabel {
    align-self: center;
    margin-top: 2px;
    float: left;
    text-align: left;
    padding-right: 10px;
    width: 50px;
}

#ToDateLabel {
    align-self: center;
    float: left;
    text-align: left;
    padding-right: 10px;
    width: 30px;
}
.center {
    text-align: center;
}
div > main > div > i {
    margin-top: 15px;
}
@media only screen and (max-width: 576px) {
    #ToDate, #FromDate {
        margin-top: 10px;
    }

    div > main > div > div > a {
        width: 150px;
        margin: 5px 0;
    }

    #FromDateLabel {
        margin-left: 8px;
    }

    #ToDateLabel {
        align-self: center;
        margin-top: 2px;
        float: left;
        text-align: left;
        padding-right: 10px;
        width: 50px;
        margin-left: 8px;
    }
}