<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/CenterFormStyles.css}">
    <title>Expense manager</title>
</head>
<body>

<div class="container-12">

    <nav id="navbar" role="navigation" class="navbar navbar-expand-sm navbar-dark bg-dark"></nav>

    <div class="row no-gutters justify-content-center">

        <main role="main" class="col-10 col-sm-9 col-md-6 col-lg-4 col-xl-3 center-main-content">

            <h2 id="header">Add Category</h2>

            <form th:action="@{/category/add}" method="post">
                <div th:object="${category}">

                    <div class="form-group">
                        <label for="name">Category:</label>
                        <input type="text" maxlength="20" id="name" name="name" class="form-control"
                               placeholder="category"
                               required/>
                    </div>

                    <div class="form-group">
                        <label for="type">Type:</label>
                        <select id="type" name="type" class="form-control">
                            <option>Income</option>
                            <option>Outcome</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6 offset-sm-3">
                        <input type="submit" class="form-control btn btn-dark" value="Create"/>
                        </div>
                    </div>

                </div>
            </form>
        </main>
    </div><!-- End of row -->
</div><!-- End of container -->


<script th:src="@{/js/navbar.js}"></script>
<script>
    window.onload = function () {
        printNavbar();
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>