<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Expense manager</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Expense manager</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarCategories" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarCategories">
                    <a class="dropdown-item" th:href="@{/category/list/0}">Categories list</a>
                    <a class="dropdown-item" th:href="@{/category/add}">Add Category</a>
                </div>
            </li>
            <li class="nav-item active dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="transaction" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transactions
                </a>
                <div class="dropdown-menu" aria-labelledby="transaction">
                    <a class="dropdown-item" th:href="@{/transaction/add/income}">Add income</a>
                    <a class="dropdown-item" th:href="@{/transaction/add/outcome}">Add outcome</a>
                </div>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>


<div class="container form-inline" style="position: absolute; top: 25%; left: 30%">
    <h2 style="position: absolute; bottom: 110%; left: 17%">Add Transaction</h2>
    <form th:action="@{/transaction/add/{type}(type=${type})}" method="post">
        <div th:object="${transaction}">
            <label for="category"></label>Category:
            <select id="category" name="category" class="form-control"
                    style="width: 400px; float: right; position: relative; left: 50px">
                <option
                        th:each="category : ${categories}"
                        th:value="${category.name}"
                        th:text="${category.name}"></option>
            </select>
            <br><br>
            <label for="amount"></label>Amount:
            <input type="text" id="amount" name="amount" class="form-control"
                   style="width: 400px; float: right; position: relative; left: 50px" placeholder="amount" required/>
            <br><br>
            <label for="date"></label>Date:
            <input type="date" id="date" name="date" class="form-control"
                   style="width: 400px; float: right; position: relative; left: 50px" placeholder="date" required/>
            <br><br>
            <label for="comment"></label>Comment:
            <input type="text" maxlength="200" id="comment" name="comment" class="form-control"
                   style="width: 400px; float: right; position: relative; left: 50px" placeholder="comment"/>
            <br><br>
            <input type="submit" class="btn btn-dark"
                   style="width: 150px; position: relative; top: 10px; left: 225px" value="Create"/>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>