<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<style>
    .rcorners {
        border-radius: 25px;
        border: 2px solid gray;
        padding: 20px;
    }
    .progress-bar-dimensions {
        width: 270px;
        height: 25px;
        float: right;
        position: relative; right: 20px
    }
    .transaction-category-name-progress-bar {
        float: left;
        position:relative;
        left: 20px
    }

    .transaction-category-amount-progress-bar {
        float: right;
        position:relative;
        left: 35px;
        top: 5px
    }

</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Expense manager</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarCategories" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarCategories">
                    <a class="dropdown-item" th:href="@{/category/list/0}">Categories list</a>
                    <a class="dropdown-item" th:href="@{/category/add}">Add Category</a>
                </div>
            </li>
            <li class="nav-item active dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="transaction" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transactions
                </a>
                <div class="dropdown-menu" aria-labelledby="transaction">
                    <a class="dropdown-item" th:href="@{/transaction/add/income}">Add income</a>
                    <a class="dropdown-item" th:href="@{/transaction/add/outcome}">Add outcome</a>
                </div>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>

<div class="container" style="text-align: center; position:relative; top: 20px; left: 200px">
    <div class="row">
        <div class="col-xl-6 col-xl-offset-3">
            <h1>Dashboard</h1>
            <hr>
            <a class="btn btn-dark" th:href="@{/transaction/history/0}" style="width: 150px">History</a>
            <a class="btn btn-dark" th:href="@{/transaction/add/income}" style="width: 150px">Add income</a>
            <a class="btn btn-dark" th:href="@{/transaction/add/outcome}" style="width: 150px">Add outcome</a>
            <hr>
            <h2>Balance</h2>
            <h5 id="Balance" th:text="${lastMonthBalance + ' PLN'}"></h5>
            <hr>
            From: <input type="date" id="FromDate" onchange="changeBalance()"/>
            To: <input type="date" id="ToDate" onchange="changeBalance()"/>
            <br><br>
            <i>*If nothing is selected, then the balance for the last month is displayed</i>
            <br><br>
        </div>
    </div>
    <form>
        <input type="hidden" th:value="${0}" name="pageId">
        <div class="container">

            <!--   Left Column     -->

            <div class="rcorners" style="float: left;width: 540px;height: 420px; position: relative; right: 330px">
                <h5 id="Incomes" th:text="${'Incomes : ' + lastMonthIncome + ' PLN'}"></h5>
                <div id="incomesColumn">
                <div th:if="${categoriesIncomeRanking.size() >= 1}">
                    <br>
                    <i th:text="${categoriesIncomeRanking.get(0).name}" class="transaction-category-name-progress-bar"></i>
                    <div class="progress progress-bar-dimensions">
                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" th:text="${categoriesIncomeRanking.get(0).printPercentageContribution()} + ' %'" th:style="'width: ' + ${categoriesIncomeRanking.get(0).percentageContribution} + '%'"></div>
                    </div>
                    <br>
                    <i th:text="${categoriesIncomeRanking.get(0).amount + ' zł'}" class="transaction-category-amount-progress-bar"></i>
                </div>
                <div th:if="${categoriesIncomeRanking.size() >= 2}">
                    <br>
                    <hr>
                    <i th:text="${categoriesIncomeRanking.get(1).name}" class="transaction-category-name-progress-bar"></i>
                    <div class="progress progress-bar-dimensions">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" th:text="${categoriesIncomeRanking.get(1).printPercentageContribution()} + '%'" th:style="'width: ' + ${categoriesIncomeRanking.get(1).percentageContribution} + '%'">100</div>
                    </div>
                    <br>
                    <i th:text="${categoriesIncomeRanking.get(1).amount + ' zł'}" class="transaction-category-amount-progress-bar"></i>
                </div>
                <div th:if="${categoriesIncomeRanking.size() == 3}">
                    <br>
                    <hr>
                    <i th:text="${categoriesIncomeRanking.get(2).name}" class="transaction-category-name-progress-bar"></i>
                    <div class="progress progress-bar-dimensions">
                        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" th:text="${categoriesIncomeRanking.get(2).printPercentageContribution()} + ' %'" th:style="'width: ' + ${categoriesIncomeRanking.get(2).percentageContribution} + '%'"></div>
                    </div>
                    <br>
                    <i th:text="${categoriesIncomeRanking.get(2).amount + ' zł'}" class="transaction-category-amount-progress-bar"></i>
                </div>
                </div>
                <br><br>
                <h5>Choose Time Frame</h5>
                <br>
                From: <input type="date" id="IncomeFromDate" onchange="changeIncome();changeIncomeCategories()"/>
                To: <input type="date" id="IncomeToDate" onchange="changeIncome();changeIncomeCategories()"/>
            </div>


            <!--   Right Column   -->


            <div class="rcorners" style="float: right;width: 540px;height: 420px; position: relative; right: 220px">
                <h5 id="Outcomes" th:text="${'Outcomes : ' + lastMonthOutcome + ' PLN'}"></h5>
                <div id="outcomesColumn">
                <div th:if="${categoriesOutcomeRanking.size() >= 1}">
                    <br>
                    <i th:text="${categoriesOutcomeRanking.get(0).name}" class="transaction-category-name-progress-bar"></i>
                    <div class="progress progress-bar-dimensions">
                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" th:text="${categoriesOutcomeRanking.get(0).printPercentageContribution()} + ' %'" th:style="'width: ' + ${categoriesOutcomeRanking.get(0).percentageContribution} + '%'"></div>
                    </div>
                    <br>
                    <i th:text="${categoriesOutcomeRanking.get(0).amount + ' zł'}" class="transaction-category-amount-progress-bar"></i>
                </div>
                <div th:if="${categoriesOutcomeRanking.size() >= 2}">
                    <br>
                    <hr>
                    <i th:text="${categoriesOutcomeRanking.get(1).name}" class="transaction-category-name-progress-bar"></i>
                    <div class="progress progress-bar-dimensions">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" th:text="${categoriesOutcomeRanking.get(1).printPercentageContribution()} + ' %'" th:style="'width: ' + ${categoriesOutcomeRanking.get(1).percentageContribution} + '%'"></div>
                    </div>
                    <br>
                    <i th:text="${categoriesOutcomeRanking.get(1).amount + ' zł'}" class="transaction-category-amount-progress-bar"></i>
                </div>
                <div th:if="${categoriesOutcomeRanking.size() == 3}">
                    <br>
                    <hr>
                    <i th:text="${categoriesOutcomeRanking.get(2).name}" class="transaction-category-name-progress-bar"></i>
                    <div class="progress progress-bar-dimensions">
                        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" th:text="${categoriesOutcomeRanking.get(2).printPercentageContribution()} + ' %'" th:style="'width: ' + ${categoriesOutcomeRanking.get(2).percentageContribution} + '%'"></div>
                    </div>
                    <br>
                    <i th:text="${categoriesOutcomeRanking.get(2).amount + ' zł'}" class="transaction-category-amount-progress-bar"></i>
                </div>
                </div>
                <br><br>
                <h5>Choose Time Frame</h5>
                <br>
                From: <input type="date" id="OutcomeFromDate" onchange="changeOutcome();changeOutcomeCategories()"/>
                To: <input type="date" id="OutcomeToDate" onchange="changeOutcome();changeOutcomeCategories()"/>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/js/calculateBalanceIncomeAndOutcome.js}"></script>
<script th:src="@{/js/changeCategories.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>