<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/DashboardStyle.css}">
    <link rel="stylesheet" th:href="@{/css/DashboardColumnsStyle.css}">
    <title>Dashboard</title>
</head>
<body>

<div id="page" class="container-12">

    <!--  Navbar  -->

    <nav id="navbar" role="navigation" class="navbar navbar-expand-sm navbar-dark bg-dark"></nav>

    <!--  Dashboard  -->

    <main role="main">
        <div class="row center no-gutters">
            <div class="col-12">

                <h1>Dashboard</h1>

                <hr class="col-10 col-sm-9 col-md-6 col-xl-4">

                <a class="btn btn-dark" th:href="@{/transaction/history/0}">History</a>
                <a class="btn btn-dark" th:href="@{/transaction/add/income}">Add income</a>
                <a class="btn btn-dark" th:href="@{/transaction/add/outcome}">Add outcome</a>

                <hr class="col-10 col-sm-9 col-md-6 col-xl-4">

                <h2>Balance</h2>

                <h5 id="Balance" th:text="${lastMonthBalance + ' PLN'}"></h5>
                <hr class="col-10 col-sm-9 col-md-6 col-xl-4">
            </div>

            <div id="input-group-fromDate" class="col-10 col-sm-5 col-md-4 col-lg-3 col-xl-2
                        offset-sm-1 offset-md-2 offset-lg-3 offset-xl-4 input-group">
                <label for="FromDate" id="FromDateLabel">From:</label><input
                    class="form-control"
                    type="date" id="FromDate"
                    onchange="changeBalance()"/>
            </div>

            <div class="col-10 col-sm-5 col-md-4 col-lg-3 col-xl-2 input-group">
                <label for="ToDate" id="ToDateLabel">To:</label> <input
                    class="form-control" type="date"
                    id="ToDate" onchange="changeBalance()"/>
            </div>

            <i class="col-12">*If nothing is selected, then the balance for the last month is displayed</i>
        </div>
        <form>
            <input type="hidden" th:value="${0}" name="pageId">
            <div class="row center no-gutters">

                <!--   Left Column     -->

                <div id="leftColumn" class="rcorners col-12 col-sm-10 col-md-6 offset-md-3 col-xl-4 offset-xl-2">

                    <h5 id="Incomes" class="col-12" th:text="${'Incomes : ' + lastMonthIncome + ' PLN'}"></h5>
                    <div id="incomesColumn">

                        <div class="input-group" th:if="${categoriesIncomeRanking.size() >= 1}">
                            <i th:text="${categoriesIncomeRanking.get(0).name}"
                               class="col-12 transaction-category-name-progress-bar"></i>
                            <div class="progress progress-bar-dimensions">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                     role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                     th:text="${categoriesIncomeRanking.get(0).printPercentageContribution()} + ' %'"
                                     th:style="'width: ' + ${categoriesIncomeRanking.get(0).percentageContribution} + '%'"></div>
                            </div>
                            <i th:text="${categoriesIncomeRanking.get(0).amount + ' zł'}"
                               class="transaction-category-amount-progress-bar"></i>
                        </div>

                        <div class="input-group" th:if="${categoriesIncomeRanking.size() >= 2}">
                            <hr class="col-11">
                            <i th:text="${categoriesIncomeRanking.get(1).name}"
                               class="col-12 transaction-category-name-progress-bar"></i>
                            <div class="progress progress-bar-dimensions">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                     role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                     th:text="${categoriesIncomeRanking.get(1).printPercentageContribution()} + '%'"
                                     th:style="'width: ' + ${categoriesIncomeRanking.get(1).percentageContribution} + '%'">
                                    100
                                </div>
                            </div>
                            <i th:text="${categoriesIncomeRanking.get(1).amount + ' zł'}"
                               class="transaction-category-amount-progress-bar"></i>
                        </div>

                        <div class="input-group" th:if="${categoriesIncomeRanking.size() == 3}">
                            <hr class="col-11">
                            <i th:text="${categoriesIncomeRanking.get(2).name}"
                               class="col-12 transaction-category-name-progress-bar"></i>
                            <div class="progress progress-bar-dimensions">
                                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                                     role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                     th:text="${categoriesIncomeRanking.get(2).printPercentageContribution()} + ' %'"
                                     th:style="'width: ' + ${categoriesIncomeRanking.get(2).percentageContribution} + '%'"></div>
                            </div>
                            <i th:text="${categoriesIncomeRanking.get(2).amount + ' zł'}"
                               class="transaction-category-amount-progress-bar"></i>
                        </div>
                    </div> <!-- End of Incomes Column -->

                    <div class="center input-group">
                        <h5 class="col-12 time-frame">Choose Time Frame</h5>
                    </div>

                    <div class="col-xl-9 offset-xl-1 center input-group">
                        <label for="IncomeFromDate" class="columnFromDateLabel">From:</label>
                        <input class="form-control" type="date" id="IncomeFromDate"
                               onchange="changeIncome();changeIncomeCategories()"/>
                    </div>
                    <div class="col-xl-9 offset-xl-1 center input-group columnToDateDiv">
                        <label for="IncomeToDate" class="columnToDateLabel">To:</label>
                        <input class="form-control" type="date" id="IncomeToDate"
                               onchange="changeIncome();changeIncomeCategories()"/>
                    </div>
                </div> <!-- End of left column -->

                <!--   Right Column   -->

                <div id="rightColumn" class="rcorners col-12 col-sm-10 col-md-6 offset-md-3 col-xl-4 offset-xl-0">
                    <h5 id="Outcomes" th:text="${'Outcomes : ' + lastMonthOutcome + ' PLN'}"></h5>
                    <div id="outcomesColumn">

                        <div class="input-group" th:if="${categoriesOutcomeRanking.size() >= 1}">
                            <i th:text="${categoriesOutcomeRanking.get(0).name}"
                               class="col-12 transaction-category-name-progress-bar"></i>
                            <div class="progress progress-bar-dimensions">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                     role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                     th:text="${categoriesOutcomeRanking.get(0).printPercentageContribution()} + ' %'"
                                     th:style="'width: ' + ${categoriesOutcomeRanking.get(0).percentageContribution} + '%'"></div>
                            </div>
                            <i th:text="${categoriesOutcomeRanking.get(0).amount + ' zł'}"
                               class="transaction-category-amount-progress-bar"></i>
                        </div>

                        <div class="input-group" th:if="${categoriesOutcomeRanking.size() >= 2}">
                            <hr class="col-11">
                            <i th:text="${categoriesOutcomeRanking.get(1).name}"
                               class="col-12 transaction-category-name-progress-bar"></i>
                            <div class="progress progress-bar-dimensions">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                     role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                     th:text="${categoriesOutcomeRanking.get(1).printPercentageContribution()} + ' %'"
                                     th:style="'width: ' + ${categoriesOutcomeRanking.get(1).percentageContribution} + '%'"></div>
                            </div>
                            <i th:text="${categoriesOutcomeRanking.get(1).amount + ' zł'}"
                               class="transaction-category-amount-progress-bar"></i>
                        </div>

                        <div class="input-group" th:if="${categoriesOutcomeRanking.size() == 3}">
                            <hr class="col-11">
                            <i th:text="${categoriesOutcomeRanking.get(2).name}"
                               class="col-12 transaction-category-name-progress-bar"></i>
                            <div class="progress progress-bar-dimensions">
                                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                                     role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                     th:text="${categoriesOutcomeRanking.get(2).printPercentageContribution()} + ' %'"
                                     th:style="'width: ' + ${categoriesOutcomeRanking.get(2).percentageContribution} + '%'"></div>
                            </div>
                            <i th:text="${categoriesOutcomeRanking.get(2).amount + ' zł'}"
                               class="transaction-category-amount-progress-bar"></i>

                        </div> <!-- End of Outcomes Column-->
                    </div>

                    <h5 class="col-12 time-frame">Choose Time Frame</h5>

                    <div class="col-xl-9 offset-xl-1 center input-group">
                        <label for="OutcomeFromDate" class="columnFromDateLabel">From:</label><input
                            class="form-control" type="date"
                            id="OutcomeFromDate" onchange="changeOutcome();changeOutcomeCategories()"/>
                    </div>

                    <div class="col-xl-9 offset-xl-1 center input-group columnToDateDiv">
                        <label for="OutcomeToDate" class="columnToDateLabel">To:</label><input
                            class="form-control" type="date"
                            id="OutcomeToDate" onchange="changeOutcome();changeOutcomeCategories()"/>
                    </div>
                </div> <!-- End of right column -->
            </div> <!-- End of row -->
        </form>
    </main>

    <script th:src="@{/js/navbar.js}"></script>
    <script>
        window.onload = function () {
            printNavbar();
        }
    </script>
    <script th:src="@{/js/calculateBalanceIncomeAndOutcome.js}"></script>
    <script th:src="@{/js/changeCategories.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</div>
</body>
</html>